<%= render partial: "order_errors", locals: { order: @order } %>
<section class="mt-2 pt-3">
  <h1 class="h2 text-center text-uppercase text-tracked">Check Out</h1>
  <h2 class="h4 mt-4"><%= @order.product.name %></h2>
  <div class="row">
    <h3 class="h5 font-weight-normal mb-3 col-md-6"><%= number_to_currency(@order.product.price_cents / 100) %></h3>
    <%= link_to "Is this a gift?", new_order_url(product_id: @order.product.id, is_gift: true) %> 
  </div>
  <%= render partial: "original_form", locals: { order: @order } %>
</section>
